.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar > div { /*1 Nível de filho pra dentro*/
    flex: 1;
    height: 4px; /*tamanho fixo*/
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}
.experienceBar > div > div { /*1 Nível de filho pra dentro*/
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%); /*centralizar o texto, tendo como base o meio da palavra*/
}